//breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

//fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

//main variables
$accent-color: #ff6b09;
$primary-white-color: #ffffff;
$primary-text-color: #000000;
$secondary-color: #bbbbbb;
$tertiary-color: #878686;
$delimiter-color: #e2e3e5;
$primary-bg: #f5f6fb;
$modal-backdrop: rgba($primary-text-color, 0.7);
$card-overlay: rgba($primary-text-color, 0.5);
$shadow: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
$timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
