<article class="card" data-id={{_id}}>
    <div class="card__img">
        <div class="card__overlay">
            <button class="card__favorite-btn js-favorite-card-btn">
                <span class="material-icons">
                    favorite_border
                </span>
            </button>
            <button class="card__open-btn js-open-card-btn">
                <span class="material-icons">
                    crop_free
                </span>
            </button>
        </div>
        <img class="card__img-preview" src={{imageUrls}} alt={{description}}>
    </div>
    <div class="card__description">
        <h3 class="card__title">{{title}}</h3>
        <p class="card__price js-card-price">
            <!-- генерировать цену через js по условию, текст временный -->
            200 грн
        </p>
    </div>
</article>