<article class="card">
    <div class="card__img">
        <img class="card__img-preview" src={{imageUrls}} alt={{description}}>
    </div>
    <div class="card__description">
        <h3 class="card__title">{{title}}</h3>
        <p class="card__price">
            <!-- генерировать цену через js по условию, текст временный -->
            200 грн
        </p>
    </div>
</article>