      <div class="container footer__wrapper">
        <div class="footer__copyright"><i class="material-icons footer__copyright-icon">copyright</i><span class="footer__copyright-year">2019</span>
      <span class="footer__copyright-text">All Rights Reserved</span></div>
        <div class="footer__author">Developed with <i class="material-icons footer__heart-icon">favorite</i>by&nbsp<a href="#" class="footer__author-link" target="_blank">GoIT Students</a></div>
      </div>