<div class="modal-wrapper">
    <h3 class="modal-title">Ви дійсно хочете вийти з акаунта?</h3>
    <div class="buttons-wrapper"><button type="button" class="modal-logout">ВИЙТИ</button><button type="button"
            class="modal-cancel">ВІДМІНА</button></div>
</div>