<div class="modal-window modal-window--hidden">
    <div class="modal-window__item">
        <button class="modal-window__close-button"><i class="material-icons">
                close
            </i></button>
    </div>
</div>