<div class="search-modal">
    <form action="" class="search-modal__form">
        <div>
            <input class="search-modal__input" type="text" id="search-modal-form" placeholder="ПОШУК">
            <button class="search-modal__search-button">
                <i class="material-icons ">
                    search
                </i>
            </button>
            <button><i class="material-icons search-modal__close-icon">
                    close
                </i></button>
        </div>
    </form>
</div>