<form action="" class="search-modal">
    <div class='search-modal__input-wrapper'>
        <input class="search-modal__input" type="text" name="search-modal-input" placeholder="ПОШУК">
        <p class="search-modal__error"></p>
        <button class="search-modal__search-button">
            <i class="material-icons ">
                search
            </i>
        </button>
    </div>
</form>