// @import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import './bootstrap/carousel-bootstrap';

// NEW
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  @media screen and (max-width: $tablet - 1) {
    margin: 0;
    max-width: 100%;
  }
  display: flex;
}

/* display 4 */
// @media (min-width: $tablet) {
.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  @media screen and (max-width: $tablet - 1) {
    // transform: translateY(calc(50% + 0px)); //Тут +2px
    transform: translateY(380px); //height + нижний маржин
  }
  @media screen and (min-width: $tablet) {
    // transform: translateX(calc(50% + 2.5px)); //Для плавности -2px
    transform: translateX(368px); //width + 2 маржина
  }
  @media screen and (min-width: $desktop) {
    // transform: translateX(calc(25%)); //Для плавности -2px
    transform: translateX(313px);
  }
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  // opacity: 1;
  & .card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02);
  }
  @media screen and (max-width: $tablet - 1) {
    // transform: translateY(calc(-100% - 0px)); //Тут +2px
    transform: translateY(-380px);
  }
  @media screen and (min-width: $tablet) {
    // transform: translateX(calc(-50% - 2.5px)); //Тут +2px
    transform: translateX(-368px);
  }
  @media screen and (min-width: $desktop) {
    // transform: translateX(calc(-25%)); //Тут +2px
    transform: translateX(-313px);
  }
}
// }

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  // opacity: 0;
  @media screen and (max-width: $tablet - 1) {
    // transform: translateY(calc(-100% - 0px)); //Тут +2px
    transform: translateY(0);
  }
  transform: translateX(0);
}

//   //   Мои правки
.carousel-item__pos {
  overflow: hidden;
  transition: transform $timing;
  @media screen and (max-width: $tablet - 1) {
    overflow: initial;
    // transform: translateY(0);
  }
  @media screen and (min-width: $tablet) {
    width: calc(100% + 6px);
    left: -6px;
  }
  @media screen and (min-width: $desktop) {
    width: calc(100% + 6px);
    left: -6px;
  }
  &.active {
    @media screen and (max-width: $tablet - 1) {
      display: flex;
      // flex-wrap: wrap;
      flex-direction: column;
      max-height: 730px;
      // margin: 0;
      // max-width: 100%;
    }
  }
}

.carousel-inner .carousel-item > .col-md-3 {
  position: relative;
  padding: 0;
  margin-bottom: 4px;

  @media screen and (max-width: $tablet - 1) {
    margin-bottom: 30px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 4px;
  }

  @media screen and (min-width: $tablet) {
    // margin: 0 10px;
    margin-left: 8px;
    margin-right: 8px;
    max-width: 50%;
    // flex-basis: calc(50% - 15px);
    flex-basis: 50%;
  }

  @media screen and (min-width: $desktop) {
    // margin: 0 10px;
    margin-left: 9px;
    margin-right: 9px;
    max-width: 25%;
    // flex-basis: calc(25% - 17.5px);
    flex-basis: 25%;
  }
}
.carousel-indicators-numbers {
  & li {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
  }
  @media screen and (max-width: $tablet - 1) {
    & li {
      position: relative;
      text-indent: 0;
      text-align: center;
      margin: 0 2px;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 100%;
      line-height: 30px;
      color: #fff;
      background-color: #999;
      transition: all 0.25s ease;
      &.active,
      &:hover {
        margin: 0 2px;
        width: 30px;
        height: 30px;
        background-color: #337ab7;
      }
    }
  }
}
// .carousel-control-prev,
// .carousel-control-next {
//   @media screen and (max-width: $tablet - 1px) {
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     margin: -1px;
//     border: 0;
//     padding: 0;
//     clip: rect(0 0 0 0);
//     overflow: hidden;
//   }
// }
.carousel a.disable {
  pointer-events: none;
  cursor: default;
  opacity: 0.2;
}

.category__nav .carousel-control-prev,
.category__nav .carousel-control-next {
  top: 12px;
  opacity: 1;
  & span {
    color: $primary-text-color;
    &:hover {
      color: $primary-white-color;
    }
  }
  @media screen and (max-width: $tablet - 1) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.carousel {
  h2 {
    // margin: 0;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.09em;
    text-transform: uppercase;
  }
  & .card {
    @media screen and (max-width: $tablet - 1) {
      width: 290px - 4px;
      height: 350px - 4px;
    }
  }
  &.category {
    display: flex;
    flex-direction: column-reverse;
  }
  & .category__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    // white-space: nowrap;
    & button {
      font-family: Montserrat;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.06em;
      text-decoration-line: underline;
    }
    & .carousel-control-prev,
    & .carousel-control-next {
      position: initial;
    }
  }
  & .category__card-list {
    display: block;
    flex-wrap: initial;

    & .card-item {
      margin-right: 0;
    }
  }
}
