.modal-window__item {
  width: 290px;
  height: 875px;
  font-size: 14px;
  font-weight: 500;
  padding: 54px 20px 60px;
  background-color: $primary-white-color;
  display: inline-block;

  @media screen and (min-width: $tablet) {
    width: 724px;
    height: 698px;
    padding: 54px 55px 60px 53px;
  }
  @media screen and (min-width: $desktop) {
    width: 861px;
    height: 698px;
    padding: 54px 105px 60px 105px;
  }
}

.modal-window__close-button {
  position: absolute;
  top: 15px;
  right: 5px;
  border-color: transparent;
  background-color: transparent;
  color: black;
  @media screen and (min-width: $tablet) {
    top: 25px;
    right: 25px;
  }
}
.modal-window__body {
  &__headline {
    font-size: 20px;
    margin-bottom: 0px;
  }
  & .field-label {
    display: inline-block;
    margin-bottom: 10px;

    @media screen and (min-width: $tablet) {
      margin-top: 20px;
    }
  }
  & #added_image {
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      width: 458px;
      height: 56px;
    }
  }
  & .form-input {
    width: 251px;
    height: 56px;
    margin-bottom: 20px;
    padding-left: 12px;
    border: 1px solid #bbbbbb;

    @media screen and (min-width: $tablet) {
      width: 458px;
      height: 56px;
      display: flex;
    }
  }
  & textarea {
    padding-top: 20px;
  }

  & .image-upload {
    width: 77px;
    height: 46px;
    margin-left: 3px;
    margin-bottom: 3px;

    overflow: hidden;
    background-color: #f5f6fb;
    display: inline-block;
    position: relative;
    cursor: pointer;

    & input[type="file"] {
      display: none;
    }

    & .plus-icon {
      display: inline-block;
      position: absolute;
      padding-left: 30px;
      padding-top: 10px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 0.02em;
      color: #bbbbbb;
    }
    & .output_image {
      width: 76px;
      padding: 0px;
    }
  }
  & #category-select {
    position: relative;
    cursor: pointer;
    width: 251px;
    height: 56px;
    background-color: $primary-white-color;
    border: 1px solid #bbbbbb;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 12px;

    @media screen and (min-width: $tablet) {
      width: 458px;
      height: 56px;
    }

    & .triangle {
      position: absolute;
      top: 0;
      right: 0;
      padding: 8px 10px;
      line-height: 40px;
    }
    & .category-select-options {
      position: absolute;
      left: -1px;
      top: 54px;
      border: 1px solid grey;
      width: 251px;
      background: #f5f6fb;
      box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      & li {
        padding: 10px;
        &:hover {
          cursor: pointer;
          background-color: #d8cece;
        }
      }
    }
  }
  & .field-container {
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
    }
  }
  & .button {
    width: 251px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    border: none;
    background: #ff6b09;
    color: $primary-white-color;

    @media screen and (min-width: $tablet) {
      display: block;
      position: relative;
      margin: 0px 158px;
    }

    @media screen and (min-width: $desktop) {
      display: block;
      position: relative;
      margin: 0px 192px;
    }
  }
  & .hidden {
    display: none;
  }
}
