.search-modal {
  background-color: $accent-color;
  padding: 50px 19px 60px;
  @media screen and (min-width: $tablet) {
    padding: 94px 25px;
  }
  @media screen and (min-width: $desktop) {
    padding: 94px 105px;
  }
  &__input-wrapper {
    position: relative;
    border-bottom: 1px solid $primary-text-color;
  }
  &__input {
    border: none;
    width: 250px;
    padding: 15px 20px;
    color: $primary-white-color;
    background-color: transparent;
    @media screen and (min-width: $tablet) {
      width: 550px;
    }
    @media screen and (min-width: $desktop) {
      width: 650px;
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  &__search-button {
    border-color: transparent;
    background-color: transparent;
    color: $primary-white-color;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}
