body {
  background-color: $primary-bg;
  color: $primary-text-color;
  font-family: $primary-font;
  font-size: 12px;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}
#root {
  transition: opacity $timing, transform $timing;
}
.main--hide {
  opacity: 0;
  transform: translateY(50px);
}
