//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

@import './modern-normalize';
@import './utils/variables';
@import './defaults';
@import './utils/visually-hidden';
@import './utils/placeholders';

@import './utils/modal-window';

@import './header/header';
@import './container/container';
@import './auth-modal/auth-modal';
@import './account/account';
@import './card/card';
@import './add-modal/add-modal';
@import './product-modal/product-modal';
@import './search-modal/search-modal';
@import './pagination/pagination';
@import './category/category';
@import './favorites/favorites';
@import './my-calls/my-calls';
